<div class="row">
    <div class="col-sm-12">
        <div *ngIf="musicError.length" class="alert alert-danger alert-block mt-3">{{ musicError }}</div>
        <div *ngIf="playlistError.length" class="alert alert-danger alert-block mt-3">{{ playlistError }}</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <app-table [columns]="columns" [list]="musics" (itemSelecionado)="handleMusicSelect($event)" type="checkbox"></app-table>
    </div>
    <div class="col-sm-2 handle-actions">
        <button class="btn-danger btn-md handle-actions__remove" (click)="removeMusic()" type="button"><fa-icon [icon]="faAngleDoubleLeft"></fa-icon></button>
        <button class="btn-success btn-md handle-actions__add" (click)="addMusic()" type="button"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></button>
    </div>
    <div class="col-sm-5">
        <app-table [columns]="columns" [list]="playlist.get('musicas')" (itemSelecionado)="handlePlaylistSelect($event)" type="radio"></app-table>
    </div>
</div>
